<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Connexion{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
        <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        {% block stylesheets %}{% endblock %}
    </head>

    {% block body %}
        <script>
        $(document).ready( function() {
            $("#inscription").click(function() {
	            $("#formChange").load("/inscription")
            });
	    });
        
        function ChargerPageInscription() {
            history.pushState({ path: this.path}, '', '/inscription');
        }
        </script>
        {% if app.user %}
            <script>window.location.href="{{ path('espace') }}";</script>
        {% else %}
            <div id="formChange">
                <div style="margin-top:10%;">
                    <div class="container">
                        <ul class="nav nav-tabs col-sm-5 m-auto">
                            <img src="/images/logo.png" alt="logo">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Connexion</a>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="inscription" onclick="ChargerPageInscription()">Inscription</button>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="col-sm-5 m-auto form-group tab-pane fade active show">
                                {% if error %}
                                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <fieldset>
                                    <form action="{{ path('login_security') }}" method="post">
                                        <legend>Connexion à l'espace personnel !</legend>
                                        <div class="form-group">
                                            <label>Email <i class="fa fa-envelope"></i></label>
                                            <input type="text"  name="_username" class="form-control" placeholder="Entrez votre email" value="{{ last_username }}"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Mot de passe <i class="fa fa-key"></i></label>
                                            <input type="password"  name="_password" class="form-control" placeholder="Entrer votre mot de passe"/>
                                        </div>
                                        <input type="hidden" name="go_to" value="{{ path('espace') }}" />
                                        <input type="hidden" name="back_to" value="{{ path('login_security') }}" />
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success">Connexion <i class="fa fa-rss"></i></button>
                                            <a href="/" class="btn btn-info">Retour <i class="fa fa-arrow-left"></i></a>
                                        </div>
                                    </form>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                {% for message in app.flashes('inscription') %}
                    <div class="alert alert-dismissible alert-success fixed-bottom ml-auto" style="width: 300px; heigth: 200px;">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ message }}</strong>.
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
</html>