<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Modification des données Utilisateur{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
        <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>

    {% block body %}
        <div style="margin-top:10%;">
            <div class="container">
                <div class="col-sm-5 m-auto form-group tab-pane fade active show">
                    {% form_theme formModifierDonnees 'bootstrap_4_layout.html.twig' %}
                    <fieldset>
                        <legend>Modification des données sur FoodRating !</legend>
                        {{ form_start(formModifierDonnees) }}

                        {{ form_row(formModifierDonnees.username, {'label': "Pseudo", 'value': app.user.username, 'attr': {'placeholder': "Entrez votre pseudo"}}) }}
                        {{ form_row(formModifierDonnees.email, {'label': "Email", 'value': app.user.email, 'attr': {'placeholder': "Entrez votre email"}}) }}
                        {% if app.user.imagebase64 is not null %}
                            {{ form_row(formModifierDonnees.imagebase64, {'attr': {'placeholder': "Modifier votre photo", 'accept': ".png, .jpg, .jpeg, .gif"}}) }}
                            <img src="data:image/png;image/jpg;image/gif;base64,{{ app.user.imagebase64 }}" alt="photo de profil" style="max-width: 200px; max-height: 200px;">
                            <a href="{{ path('supprimer_photo') }}" class="btn btn-danger">Supprimer</a>
                        {% else %}
                            {{ form_row(formModifierDonnees.imagebase64, {'attr': {'placeholder': "Ajouter votre photo", 'accept': ".png, .jpg, .jpeg, .gif"}}) }}
                        {% endif %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Modifier</button>
                            <a href="{{ path('modifier_mdp') }}" class="btn btn-secondary">Modifier le mot de passe</a>
                            <a href="{{ path('user_show') }}" class="btn btn-info">Retour</a>
                        </div>
                        {{ form_end(formModifierDonnees) }}
                    </fieldset>
                </div>
            </div>
        </div>
    {% endblock %}
    
    {% block javascripts %}
    <script>
		$(document).ready(function() {
			$("#donnees_modif_imagebase64").change(function() {
				$("div.custom-file label").text($("#donnees_modif_imagebase64")[0].files[0].name);
			});
		});
    </script>
    {% endblock %}
</html>