<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Modification des données Utilisateur{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
        <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        {% block stylesheets %}{% endblock %}
    </head>

    {% block body %}
        <div style="margin-top:10%;">
            <div class="container">
                <div class="col-sm-5 m-auto form-group tab-pane fade active show">
                    <img src="/images/logo.png" alt="logo">
                    <hr class="border-info" />
                    {% form_theme formModifierDonnees 'bootstrap_4_layout.html.twig' %}
                    <fieldset>
                        <legend>Modification des données sur FoodRating !</legend>
                        {{ form_start(formModifierDonnees) }}

                        {{ form_row(formModifierDonnees.username, {'label': "Pseudo", 'value': app.user.username, 'attr': {'placeholder': "Entrez votre pseudo"}}) }}
                        {{ form_row(formModifierDonnees.email, {'label': "Email", 'value': app.user.email, 'attr': {'placeholder': "Entrez votre email"}}) }}
                        {% if app.user.imagebase64 is not null %}
                            {{ form_row(formModifierDonnees.imagebase64, {'attr': {'placeholder': "Modifier votre photo", 'accept': ".png, .jpg, .jpeg, .gif"}}) }}
                            <img src="data:image/png;image/jpg;image/gif;base64,{{ app.user.imagebase64 }}" alt="photo de profil" style="max-width: 200px; max-height: 200px;">
                            <a href="{{ path('supprimer_photo') }}" class="btn btn-danger">Supprimer</a>
                        {% else %}
                            {{ form_row(formModifierDonnees.imagebase64, {'attr': {'placeholder': "Ajouter votre photo", 'accept': ".png, .jpg, .jpeg, .gif"}}) }}
                        {% endif %}
                        <div class="form-group">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Modifier <i class="fa fa-wrench"></i></button>
                            <a href="{{ path('modifier_mdp') }}" class="btn btn-secondary">Modifier le mot de passe <i class="fa fa-wrench"></i></a>
                            <a href="{{ path('user_show') }}" class="btn btn-info">Retour <i class="fa fa-arrow-left"></i></a>
                        </div>
                        <div class="modal" id="myModal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"><i class="fa fa-exclamation-circle text-danger"></i> Modification des données</h5>
                                    </div>
                                    <div class="modal-body">
                                        <p>Etes-vous sûr de vouloir modifier vos données ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Oui <i class="fa fa-check"></i></button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non <i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        {{ form_end(formModifierDonnees) }}
                    </fieldset>
                </div>
            </div>
        </div>
    {% endblock %}
    
    {% block javascripts %}
    <script>
		$(document).ready(function() {
			$("#donnees_modif_imagebase64").change(function() {
				$("div.custom-file label").text($("#donnees_modif_imagebase64")[0].files[0].name);
			});
		});
    </script>
    {% endblock %}
</html>