{% extends 'base.html.twig' %}

{% block body %}
    <center><h1>Bienvenue sur FoodRating - Accueil</h1></center>
    
    <div id="carousel_accueil" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators" style="top: 95%;">
        {% for p in produit_carousel %}
        	{% if loop.first %}
            <li class="bg-primary" data-target="#carousel_accueil" data-slide-to="0" class="active"></li>
            {% else %}
            <li class="bg-primary" data-target="#carousel_accueil" data-slide-to="{{ loop.index0 }}"></li>
            {% endif %}
        {% endfor %}
        </ol>
        <div class="carousel-inner pt-3">
        {% for p in produit_carousel %}
        	{% if loop.first %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
            	<a href="{{ path("produit_v2", {"id" : p.id ?? p.code, "categorie": p.categorie_url}) }}">
                	<img class="d-block mx-auto img-thumbnail" style="height: 200px;" src="{{ p.image_url ?? p.image_front_url ?? p.selected_images.front.display.fr ?? "/images/image_vide.png" }}" alt="Image du produit : {{ p.product_name ?? "Non renseigné" }}">
                </a>
                <div class="carousel-caption d-none d-md-block" style="position: initial;">
                	<h5>{{ p.brands ?? p.brands_tags[0] ?? "Non renseigné" }}</h5>
                	<a href="{{ path("produit_v2", {"id" : p.id ?? p.code, "categorie": p.categorie_url}) }}">{{ p.product_name | capitalize }}</a>
                </div>
            </div>
        {% endfor %}
        </div>

        <a class="carousel-control-prev" href="#carousel_accueil" role="button" data-slide="prev">
            <i class="fas fa-angle-left fa-3x text-primary"></i>
        </a>
        <a class="carousel-control-next" href="#carousel_accueil" role="button" data-slide="next">
            <i class="fas fa-angle-right fa-3x text-primary"></i>
        </a>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="jumbotron col-sm-6">
                <h1 class="display-5">Les meilleurs produits !</h1>
                <p class="lead">
                    
                    {% if meilleursProduit is defined %}
                        <div id="carousel_meilleurs_produits" class="carousel slide" data-interval="false" data-ride="carousel">
                        	<ol class="carousel-indicators" style="top: 95%;">
                        		{% for p in meilleursProduit %}
                        		<li class="bg-primary" data-target="#carousel_meilleurs_produits" {% if loop.first %} data-slide-to="0" class="active" {% else %} data-slide-to="{{ loop.index0 }}" {% endif %}></li>
                        	    {% endfor %}
                        	</ol>

                        
                            <div class="carousel-inner w-75 mx-auto" style="height: 310px;">
                                {% set indice = 0 %}
                                {% for p in meilleursProduit %}

                                    {% if loop.first %}
                                        <div class="carousel-item active">
                                    {% else %}
                                        <div class="carousel-item">
                                    {% endif %}
                                        {% if indice < categorieProduit | length %}
                                            <a href="{{ path("produit_v2", {"id" : p.id ?? p.code, "categorie": categorieProduit[indice]}) }}">
                                                <img class="d-block mx-auto img-thumbnail" style="height: 200px;" src="{{ p.image_url ?? p.image_front_url ?? p.selected_images.front.display.fr ?? "/images/image_vide.png" }}" alt="Image du produit : {{ p.product_name }}" />
                                            </a>
                                        
                                            <div class="carousel-caption d-none d-md-block" style="position: initial;">
                                                <h5>{{ p.brands ?? p.brands_tags[0] ?? "Non renseigné" }}</h5>
                                                <a href="{{ path("produit_v2", {"id" : p.id ?? p.code, "categorie": categorieProduit[indice]}) }}">
                                                    {{ p.product_name | capitalize }}
                                                </a>
                                            </div>
                                        {% endif %}
                                        </div>
                                    {% set indice = indice + 1 %}
                                {% endfor %}
                            </div>

                            <a class="carousel-control-prev" href="#carousel_meilleurs_produits" role="button" data-slide="prev">
                                <i class="fas fa-angle-left fa-3x text-primary"></i>
                            </a>
                            <a class="carousel-control-next" href="#carousel_meilleurs_produits" role="button" data-slide="next">
                                <i class="fas fa-angle-right fa-3x text-primary"></i>
                            </a>
                        </div>
                    {% else %}
                        Non renseigné
                    {% endif %}
                </p>
                <hr class="my-4">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href=" {{ path("liste_categorie") }}" role="button">Plus de produit</a>
                </p>
            </div>
            <div class="jumbotron col-sm-6">
                <h1 class="display-5">Les meilleurs commentaires !</h1>
                <p class="lead">Affichage des 5 meilleurs commentaires en fonctions des produits</p>
                <hr class="my-4">
                <p>Voir plus avec le bouton "plus de commentaire"</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Plus de commentaire</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}