{% extends "base.html.twig" %}

{% block title %} Liste des produits {% endblock %}

{% block body %}
<script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
<h1>Liste des produits</h1>

<div class="form-group mx-auto">
  <input type="text" class="form-control mx-auto" id="myInput" style="width: 60%;" placeholder="Rechercher dans le tableau...">
</div>

<div class="flex-sm-wrap mt-5">

	<!-- Utilisation du sélecteur de pages de KNP -->
    {{ knp_pagination_render(produits) }}
	
</div>

<table id="tableProduit" class="table table-sm table-striped table-hover mt-5 mx-auto" style="width: 70%">
	<thead class="thead-light">
		<th class="w-20">Image</th>
		<th class="w-20">Nom du produit</th>
		<th class="w-15">Catégorie</th>
		<th class="w-25">Moyenne</th>
	</thead>
	<tbody class="text-center">
		{% for p in produits %}
	
    	    {# Pour garder la catégorie "principale" #}
            {% if p.categories is defined and p.categories is not empty %}
    			{% set cat = p.categories | split(",") %}
    		{% else %}
    			{% set cat = ["Non renseignée"] %}
    		{% endif %}
    		<tr>
    			<td class="align-middle"><img src="{{ p.image_thumb_url ?? p.selected_images.front.thumb.fr ?? "/images/image_vide.png" }}" alt="Image du produit : {{ p.product_name | raw }}" style="max-height: 105px;" /></td>
    			<td class="align-middle"><a href="{{ path("produit_v2", {"id" : p.id ?? p.code, "categorie": from_search is defined ? p.categorie_url : categorie}) }}">{{ p.product_name | raw }}</a></td>
    			<td class="align-middle">{{ cat[0] }}</td>
				<td class="align-middle">
					{% if moyennesProduits is defined %}
						<i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id ?? p.code }}_1"></i>
						<i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id ?? p.code }}_2"></i>
						<i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id ?? p.code }}_3"></i>
						<i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id ?? p.code }}_4"></i>
						<i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id ?? p.code }}_5"></i>
						{% for m in moyennesProduits %}
							{% if m.produitid == p.id or m.produitid == p.code %}
								<script>
									$(document).ready(function() {
										var nbStars=$('.etoile_affichage').length;
										var i;
										for (i = 1; i <= Math.round({{ m.moyenne }}); i++) { $('#etoileAffichage{{ p.id ?? p.code }}_' + i).addClass('text-warning'); }
									});
								</script>
							{% endif %}
						{% endfor %}
					{% else %}
						<i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id ?? p.code }}_1"></i>
						<i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id ?? p.code }}_2"></i>
						<i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id ?? p.code }}_3"></i>
						<i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id ?? p.code }}_4"></i>
						<i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id ?? p.code }}_5"></i>
					{% endif %}
				</td>
    		</tr>

    	{% endfor %}
	</tbody>
</table>

{% block javascripts %}

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#tableProduit tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock %}

{% endblock %}