{% extends "base.html.twig" %}

{% block title %} Liste des produits {% endblock %}

{% block body %}

<h1>Liste des produits</h1>

<div class="form-group mx-auto">
  <input type="text" class="form-control mx-auto" id="myInput" style="width: 60%;" placeholder="Rechercher dans le tableau...">
</div>

<div class="flex-sm-wrap mt-5">

	<!-- Utilisation du sélecteur de pages de KNP -->
    {{ knp_pagination_render(produits) }}
	
</div>

<table class="table table-sm table-striped table-hover mt-5 mx-auto" style="width: 60%">
	<thead class="thead-light">
		<th class="w-25">Image</th>
		<th class="w-50">Nom du produit</th>
		<th class="w-25">Catégorie</th>
	</thead>
	<tbody class="text-center">
		{% for p in produits %}
	
    	    {# Pour garder la catégorie "principale" #}
            {% if p.categories is defined %}
    			{% set cat = p.categories | split(",") %}
    		{% else %}
    			{% set cat = ["Non renseignée"] %}
    		{% endif %}
    		<tr>
    			<td class="align-middle"><img src="{{ p.image_thumb_url ?? p.selected_images.front.thumb.fr }}" alt="Image du produit : {{ p.product_name | raw }}" /></td>
    			<td class="align-middle"><a href="{{ path("produit_v2", {"id" : p.id ?? p.code, "categorie": from_search is defined ? p.categorie_url : categorie}) }}">{{ p.product_name | raw }}</a></td>
    			<td class="align-middle">{{ cat[0] }}</td>
    		</tr>

    	{% endfor %}
	</tbody>
</table>

{% block javascripts %}

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#tableProduit tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock %}

{% endblock %}