{% extends "base.html.twig" %}

{% block title %} {{ produit.product_name | capitalize }} {% endblock %}

{% block body %}
<script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
<div class="media pb-5">
	<img src="{{ produit.image_url }}" class="align-self-center mr-3" alt="" />
	<div class="media-body">
	
		{# Pour garder la catégorie "principale" #}
		{% if produit.categories is defined %}
			{% set cat = produit.categories | split(",") %}
		{% else %}
			{% set cat = ["Non renseignée"] %}
		{% endif %}
		
		<p> Nom : {{ produit.product_name }} <br>
		{% if produit.brands_tags is defined %}
			Marque : {{ produit.brands ?? produit.brands_tags[0] }} <br>
		{% else %}
			Marque : Non renseignée <br>
		{% endif %}
		Catégorie : {{ cat[0] }}</p>
	</div>
</div>
<h3>Ingrédients</h3>
{% if produit.ingredients_text is defined %}
	<p> {{ produit.ingredients_text }} </p>
{% else %}
	<p>Non renseignés</p>
{% endif %}

<a type="button" target="_blank" class="btn btn-danger" href="{{ path("debug", {"id": produit.id}) }}">Debug <i class="fas fa-exclamation-triangle"></i></a>

<div class="row pt-5">
	<div class="col">
		<h3>Note</h3>
		<div class="container w-60 float-left">
			<div class="row">
				<div class="col">
					<center><i class="fas fa-star fa-6x text-warning"></i>
					<p class="font-weight-bold mt-1" style="width:fit-content; font-size:x-large;">
					{% if moyenneNote != 0 %}
						Moyenne : {{ moyenneNote }}</p>
					{% else %}
						Pas de Note
					{% endif %}
					<p>(Nombre de votes : {{ nombreVote }})</p></center>
				</div>
				<div class="col">
					<i class="fas fa-star text-warning">1</i>
					<div class="progress" style="background-color: #ebebf5">
						<div class="progress-bar bg-warning" style="width: {{ pourcentageEtoile1 }}%;"></div>
					</div>
					
					<i class="fas fa-star text-warning mt-2">2</i>
					<div class="progress" style="background-color: #ebebf5">
						<div class="progress-bar bg-warning" style="width: {{ pourcentageEtoile2 }}%;"></div>
					</div>
					
					<i class="fas fa-star text-warning mt-2">3</i>
					<div class="progress" style="background-color: #ebebf5">
						<div class="progress-bar bg-warning" style="width: {{ pourcentageEtoile3 }}%;"></div>
					</div>
					
					<i class="fas fa-star text-warning mt-2">4</i>
					<div class="progress" style="background-color: #ebebf5">
						<div class="progress-bar bg-warning" style="width: {{ pourcentageEtoile4 }}%;"></div>
					</div>
					
					<i class="fas fa-star text-warning mt-2">5</i>
					<div class="progress" style="background-color: #ebebf5">
						<div class="progress-bar bg-warning" style="width: {{ pourcentageEtoile5 }}%;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<h3>Produits similaires</h3>
	</div>
</div>
<h3 class="my-4">Noter</h3>
{% if app.user %}
	<script>
		$(document).ready(function(){

			function ExtractId(id) {
				var id=id.split('_');
				var id=id[1];
				return id;
			}
			
			$('.etoile').on('click', function(e){
				var id = ExtractId($(this).attr('id')); 
				var nbStars=$('.etoile').length; 
				var i;
				for (i = 1; i <= nbStars; i++) {
					if(i <= id) {
						$('#etoile_' + i).addClass('text-warning');
					}	
					else if(i > id){
						$('#etoile_' + i).removeClass('text-warning');
					}
					if(i==id) {
						$('#note').attr({value:i});
					}
				}
			});
		});
		{% if note is defined and app.user.id == note.utilisateur.id %}
			$(document).ready( function() {
				var nbStars=$('.etoile').length; 
				var i;
				for (i = 1; i <= {{ note.nbEtoiles }}; i++) {
					$('#etoile_' + i).addClass('text-warning');
				}
			});
		{% endif %}
	</script>
	{% if produit.categories is defined %}
		{% set cat = produit.categories | split(",") %}
	{% else %}
		{% set cat = ["Non renseignée"] %}
	{% endif %}

	<div class="row">
		{% if note is defined and app.user.id == note.utilisateur.id %}
			<form id="formulaire" action="{{ path("modifier_notation", {"id" : produit.id, "categorie" : cat[0] }) }}" method="post">
				<div class="form-group">
					<label>Note : </label>
					<i class="fas fa-star fa-3x etoile" id="etoile_1" title="Pas du tout satisfait" style="cursor: pointer;"></i>
					<i class="fas fa-star fa-3x etoile" id="etoile_2" title="Pas satisfait" style="cursor: pointer;"></i>
					<i class="fas fa-star fa-3x etoile" id="etoile_3"title="Moyennement satisfait" style="cursor: pointer;"></i>
					<i class="fas fa-star fa-3x etoile" id="etoile_4"title="Satisfait" style="cursor: pointer;"></i>
					<i class="fas fa-star fa-3x etoile" id="etoile_5" title="Très satisfait" style="cursor: pointer;"></i><br>
					<input type="hidden" name="note" id="note" value="">
				</div>
				<div class="form-group">
					<label for="commentaire">Commentaire</label>
					{% if commentaire is defined %}
						<textarea class="form-control" name="commentaire" id="commentaire" rows="3">{{ commentaire.message }}</textarea>
					{% else %}
						<textarea class="form-control" name="commentaire" id="commentaire" rows="3"></textarea>
					{% endif %}
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-info" value="Modifier">
					<a type="button" href="{{ path("supprimer_notation", {"id" : produit.id, "categorie" : cat[0] }) }}" class= "btn btn-danger">Supprimer</a>
				</div>
			</form>
			<!--<div id="loader"></div>-->
		{% else %}
			<form id="formulaire" action="{{ path("notation", {"id" : produit.id, "categorie" : cat[0] }) }}" method="post">
				<div class="form-group">
					<label>Note : </label>
					<i class="fas fa-star fa-3x etoile" id="etoile_1" title="Pas du tout satisfait" style="cursor: pointer;"></i>
					<i class="fas fa-star fa-3x etoile" id="etoile_2" title="Pas satisfait" style="cursor: pointer;"></i>
					<i class="fas fa-star fa-3x etoile" id="etoile_3"title="Moyennement satisfait" style="cursor: pointer;"></i>
					<i class="fas fa-star fa-3x etoile" id="etoile_4"title="Satisfait" style="cursor: pointer;"></i>
					<i class="fas fa-star fa-3x etoile" id="etoile_5" title="Très satisfait" style="cursor: pointer;"></i>
					<input type="hidden" name="note" id="note" value="">
				</div>
				<div class="form-group">
					<label for="commentaire">Commentaire</label>
					<textarea class="form-control" name="commentaire" id="commentaire" rows="3"></textarea>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" value="Noter">
				</div>
			</form>
			<!--<div id="loader"></div>-->
		{% endif %}
		<!--<script>
            /* attach a submit handler to the form */
            $("#formulaire").submit(function(event) {

                /* stop form from submitting normally */
                event.preventDefault();

                /* get some values from elements on the page: */
                var $form = $(this),
                    url = $form.attr('action');

                /* Send the data using post */
                var posting = $.post(url);
            });
        </script>-->
		<!--<script>
			$(document).ready(function(){
				$(function(){
					$('#formulaire').submit(function(e){
					e.preventDefault();
					var formulaire = $(this);
					var post_url = formulaire.attr('action');
					var post_data = formulaire.serialize();
					$('#loader', formulaire).html('<img src="https://thumbs.gfycat.com/ElasticHalfAbyssiniancat-size_restricted.gif"/>');

					$.ajax({
						type: 'POST',
						url: post_url,
						data: post_data,
						success: function(msg) {
							formulaire.fadeOut(800, function(){
								formulaire.html(msg).fadeIn().delay(2000);
							});
						}
					});
					});
				});
			});
		</script>-->
	</div>
{% else %}
	<div class="row">
		<div class="col">
			<p>Pour noter un produit, merci de vous connecter !</p>
			<a type="button" class="btn btn-info" href="/connexion">Mon compte</a>
		</div>
	</div>
{% endif %}

<hr class="my-5 border-primary" />
<h3 class="mb-3">Commentaires et Notes</h3>

{% if notesProduit is defined %}
	<div class="card-columns">
		{% for n in notesProduit %}
			<script>
				$(document).ready(function() {
					var nbStars=$('.etoile_affichage').length;
					var i;
					for (i = 1; i <= {{ n.nbEtoiles }}; i++) { $('#etoileAffichage{{ n.id }}_' + i).addClass('text-warning'); }
				});
			</script>
			
			<div class="card border-primary mb-3" style="max-width: 20rem;">
				<div class="card-header">{{ n.utilisateur.username }}</div>
				<div class="card-body">
					<p class="card-title">
						<i class="fas fa-star fa-2x etoile_affichage" id="etoileAffichage{{ n.id }}_1"></i>
						<i class="fas fa-star fa-2x etoile_affichage" id="etoileAffichage{{ n.id }}_2"></i>
						<i class="fas fa-star fa-2x etoile_affichage" id="etoileAffichage{{ n.id }}_3"></i>
						<i class="fas fa-star fa-2x etoile_affichage" id="etoileAffichage{{ n.id }}_4"></i>
						<i class="fas fa-star fa-2x etoile_affichage" id="etoileAffichage{{ n.id }}_5"></i>
					</p>
					
					{% for c in commentairesProduit %}
						{% if c.utilisateur.id == n.utilisateur.id %}
							<p class="card-text">{{ c.message }}</p>
						{% endif %}
					{% endfor %}
				</div>
			</div>

		{% endfor %}
	</div>
	
{% else %}
	<p>Pas de commentaires pour ce produit.</p>
{% endif %}
<div class="flex-sm-wrap mt-5">

	<!-- Utilisation du sélecteur de pages de KNP -->
	{{ knp_pagination_render(notesProduit) }}
	
</div>

{% endblock %}