{% extends "base.html.twig" %}

{% block body %}

<div class="media pb-5">
	<img src="{{ produit.image }}" class="align-self-center mr-3" alt="" />
	<div class="media-body">
		<p> Nom : {{ produit.nom }} <br> Marque : {{ produit.marque }} <br> Catégorie : {{ produit.categorie }} </p>
	</div>
</div>

<h3>Ingrédients</h3>
<p> {{ produit.ingredient }} </p>

<div class="row pt-5">
	<div class="col">
		<h3>Note</h3>
		<div class="container w-60 float-left">
			<div class="row">
				<div class="col">
					<center><i class="fas fa-star fa-6x text-warning"></i>
					<p class="font-weight-bold mt-1" style="width:fit-content; font-size:x-large;">Moy. : 8.05</p>
					<p>(Nombre de votes : ???)</p></center>
				</div>
				<div class="col">
					<i class="fas fa-star text-warning">1</i>
					<div class="progress" style="background-color: #ebebf5">
						<div class="progress-bar bg-warning" style="width:60%;"></div>
					</div>
					
					<i class="fas fa-star text-warning mt-2">2</i>
					<div class="progress" style="background-color: #ebebf5">
						<div class="progress-bar bg-warning" style="width:20%;"></div>
					</div>
					
					<i class="fas fa-star text-warning mt-2">3</i>
					<div class="progress" style="background-color: #ebebf5">
						<div class="progress-bar bg-warning" style="width:50%;"></div>
					</div>
					
					<i class="fas fa-star text-warning mt-2">4</i>
					<div class="progress" style="background-color: #ebebf5">
						<div class="progress-bar bg-warning" style="width:10%;"></div>
					</div>
					
					<i class="fas fa-star text-warning mt-2">5</i>
					<div class="progress" style="background-color: #ebebf5">
						<div class="progress-bar bg-warning" style="width:15%;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<h3>Produits similaires</h3>
	</div>
</div>

{% endblock %}