{% extends 'base.html.twig' %}

{% block body %}
    <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
    <script>
        function gestionTexte(element, fleche){
			var  elementF = document.getElementById(element);
			var flecheF = document.getElementById(fleche);
			if (elementF.style.display == "none"){
				elementF.style.display = "block";
				flecheF.innerHTML = "▲";
			}
			else {
				elementF.style.display = "none";
				flecheF.innerHTML = "▼";
			}
		}
    </script>
    <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">Tableau de bord de {{ app.user.username }}</div>
            <div class="card-body">
                <h4 class="card-title">Table des matières</h4>
                <p class="card-text">
                    <ul>
                        <li>Produits <i id="flecheF1" onclick="gestionTexte('element1', 'flecheF1')" style="cursor:pointer;">▼</i>
                            <div id="element1" style="display:none">
                                <ul>
                                    <li><a class="text-secondary"href="{{ path("produit_visite") }}">Les produits visités</a></li>
                                    <li><a class="text-secondary"href="{{ path("produit_notes") }}">Les produits notés</a></li>
                                    <li><a class="text-secondary"href="{{ path("produit_commentaires") }}">Les produits commentés</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>Forum <i id="flecheF2" onclick="gestionTexte('element2', 'flecheF2')" style="cursor:pointer;">▼</i>
                            <div id="element2" style="display:none">
                                <ul>
                                    <li><a class="text-secondary"href="{{ path("forum_visite") }}">Les sujets visités</a></li>
                                    <li><a class="text-secondary"href="{{ path("forum_discussion") }}">Mes sujets</a></li>
                                    <li><a class="text-secondary"href="{{ path("forum_participation") }}">Participations aux sujets</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>Amis <i id="flecheF3" onclick="gestionTexte('element3', 'flecheF3')" style="cursor:pointer;">▼</i>
                            <div id="element3" style="display:block">
                                <ul>
                                    <li><a class="text-secondary"href="{{ path("liste_utilisateur") }}">Liste des utilisateurs</a></li>
                                    <li><a class="text-secondary"href="{{ path("liste_amis") }}">Liste d'amis</a></li>
                                    <li><a class="text-succes"href="#">Demandes en attentes</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        {% if demandesUser is not empty %}
            <div class="flex-sm-wrap mt-5">

                <!-- Utilisation du sélecteur de pages de KNP -->
                {{ knp_pagination_render(demandesUser) }}
        
            </div>
            <h2><u>Demandes envoyées</u></h2><br>
            {% for d in demandesUser %}
                {% if d.recepteur.imagebase64 is not null %}
                    <img class="float-left" src="data:image/png;image/jpg;image/gif;base64, {{ d.recepteur.imagebase64 }}" style="width: 100px; height: 100px; border-radius : 75px;" data-toggle="dropdown" data-placement="bottom" title="{{ d.utilisateur2.username }}" alt="photo de profil"/>
                {% else %}
                    <i class="fas fa-user-circle fa-6x align-self-center float-left"></i>
                {% endif %}
                <h4>{{ d.recepteur.username }}</h4><br/>
                <em> {{ d.recepteur.username }} à reçu la demande, en attente de confirmation ! </em>
                <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#myModalSuppr{{ d.id }}">Retirer la demande <i class="fas fa-trash-alt"></i></button>
                <div class="modal" id="myModalSuppr{{ d.id }}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><i class="fa fa-exclamation-circle text-danger"></i> Retirer la demande</h5>
                            </div>
                            <div class="modal-body">
                                <p>Etes-vous sûr de vouloir retirer la demande que vous avez envoyé à <b>{{ d.recepteur.username }}</b> ?</p>
                            </div>
                            <div class="modal-footer">
                                <form action="{{ path("supprimer_demande", {"id" : d.id}) }}">
                                    <button type="submit" class="btn btn-primary">Oui <i class="fa fa-check"></i></button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non <i class="fa fa-times"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-5 border-info" />
            {% endfor %}
        {% else %}
            <h4 class="text-secondary">Aucune demandes envoyées</h4>
        {% endif %}

        {% if receptionUser is not empty %}
            <div class="flex-sm-wrap mt-5">

                <!-- Utilisation du sélecteur de pages de KNP -->
                {{ knp_pagination_render(receptionUser) }}
        
            </div>
            <h2><u>Demandes reçus</u></h2><br>
            {% for r in receptionUser %}
                {% if r.demandeur.imagebase64 is not null %}
                    <img class="float-left" src="data:image/png;image/jpg;image/gif;base64, {{ r.demandeur.imagebase64 }}" style="width: 100px; height: 100px; border-radius : 75px;" data-toggle="dropdown" data-placement="bottom" title="{{ r.demandeur.username }}" alt="photo de profil"/>
                {% else %}
                    <i class="fas fa-user-circle fa-6x align-self-center float-left"></i>
                {% endif %}
                <h4>{{ r.demandeur.username }}</h4><br/>
                <em>{{ r.demandeur.username }} vous à envoyé une demande d'ami !</em>
                <div class="form-group float-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalAccept{{ r.id }}">Accepter <i class="fa fa-check"></i></button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModalRefuse{{ r.id }}">Refuser <i class="fa fa-times"></i></button>
                </div>
                <div class="modal" id="myModalAccept{{ r.id }}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><i class="fa fa-exclamation-circle text-danger"></i> Accepter la demande</h5>
                            </div>
                            <div class="modal-body">
                                <p>Etes-vous sûr de vouloir accepter la demande de <b>{{ r.demandeur.username }}</b> ?</p>
                            </div>
                            <div class="modal-footer">
                                <form action="{{ path("accepter_demande", {"id" : r.id}) }}">
                                    <button type="submit" class="btn btn-primary">Oui <i class="fa fa-check"></i></button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non <i class="fa fa-times"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal" id="myModalRefuse{{ r.id }}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><i class="fa fa-exclamation-circle text-danger"></i> Refuser la demande</h5>
                            </div>
                            <div class="modal-body">
                                <p>Etes-vous sûr de vouloir refuser la demande de <b>{{ r.demandeur.username }}</b> ?</p>
                            </div>
                            <div class="modal-footer">
                                <form action="{{ path("refuser_demande", {"id" : r.id}) }}">
                                    <button type="submit" class="btn btn-primary">Oui <i class="fa fa-check"></i></button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non <i class="fa fa-times"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-5 border-info" />
            {% endfor %}
        {% else %}
            <h4 class="text-secondary">Aucune demandes reçus</h4>
        {% endif %}

    </div>
    {% for message in app.flashes('succes') %}
        <div class="alert alert-dismissible alert-success fixed-bottom ml-auto" style="width: 300px; heigth: 200px; margin-bottom: 65px;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><i class="fa fa-info-circle"></i> {{ message }}</strong>
        </div>
    {% endfor %}

    {% for message in app.flashes('echec') %}
        <div class="alert alert-dismissible alert-danger fixed-bottom ml-auto" style="width: 300px; heigth: 200px; margin-bottom: 65px;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><i class="fa fa-exclamation-circle"></i> {{ message }}</strong>
        </div>
    {% endfor %}
{% endblock %}