{% extends 'base.html.twig' %}

{% block body %}
    <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
    <script>
        function gestionTexte(element, fleche){
			var  elementF = document.getElementById(element);
			var flecheF = document.getElementById(fleche);
			if (elementF.style.display == "none"){
				elementF.style.display = "block";
				flecheF.innerHTML = "▲";
			}
			else {
				elementF.style.display = "none";
				flecheF.innerHTML = "▼";
			}
		}
    </script>
    <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">Tableau de bord de {{ app.user.username }}</div>
            <div class="card-body">
                <h4 class="card-title">Table des matières</h4>
                <p class="card-text">
                    <ul>
                        <li>Produits <i id="flecheF1" onclick="gestionTexte('element1', 'flecheF1')" style="cursor:pointer;">▼</i>
                            <div id="element1" style="display:none">
                                <ul>
                                    <li><a class="text-secondary"href="{{ path("produit_visite") }}">Les produits visités</a></li>
                                    <li><a class="text-secondary"href="{{ path("produit_notes") }}">Les produits notés</a></li>
                                    <li><a class="text-secondary"href="{{ path("produit_commentaires") }}">Les produits commentés</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>Forum <i id="flecheF2" onclick="gestionTexte('element2', 'flecheF2')" style="cursor:pointer;">▼</i>
                            <div id="element2" style="display:none">
                                <ul>
                                    <li><a class="text-secondary"href="{{ path("forum_visite") }}">Les sujets visités</a></li>
                                    <li><a class="text-secondary"href="{{ path("forum_discussion") }}">Mes sujets</a></li>
                                    <li><a class="text-secondary"href="{{ path("forum_participation") }}">Participations aux sujets</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>Amis <i id="flecheF3" onclick="gestionTexte('element3', 'flecheF3')" style="cursor:pointer;">▼</i>
                            <div id="element3" style="display:none">
                                <ul>
                                    <li><a class="text-secondary"href="{{ path("liste_utilisateur") }}">Liste des utilisateurs</a></li>
                                    <li><a class="text-secondary"href="{{ path("liste_amis") }}">Liste d'amis</a></li>
                                    <li><a class="text-secondary"href="{{ path("demandes") }}">Demandes en attentes</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Produits</h1>
        <h2>Les produits visités</h2>
        {% if produitsVisite is not null %}
            <table class="table table-sm table-striped table-hover mt-5 mx-auto" style="width: 100%">
                <thead class="thead-light">
                    <th class="w-20">Image</th>
                    <th class="w-20">Nom du produit</th>
                    <th class="w-15">Catégorie</th>
                    <th class="w-25">Moyenne</th>
                </thead>
                <tbody class="text-center">
                    {% set indice = 0 %}
                    {% for p in produitsVisite %}
                        {# Pour garder la catégorie "principale" #}
                        {% if p.categories is defined and p.categories is not empty %}
                            {% set cat = p.categories | split(",") %}
                        {% else %}
                            {% set cat = ["Non renseignée"] %}
                        {% endif %}
                        <tr>
                            <td class="align-middle"><img src="{{ p.image_thumb_url ?? p.selected_images.front.thumb.fr ?? "/images/image_vide.png" }}" alt="Image du produit : {{ p.product_name | raw }}" style="max-height: 105px;" /></td>
                            {% if indice < categories|length %}
                                <td class="align-middle"><a href="{{ path("produit_v2", {"id" : p.id ?? p.code, "categorie": categories[indice]}) }}">{{ p.product_name | raw }}</a></td>
                                {% set indice = indice + 1 %}
                            {% endif %}
                                
                            <td class="align-middle">{{ cat[0] }}</td>
                            <td class="align-middle">
                                {% if moyennesProduits is defined %}
                                    <i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id }}_1"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id }}_2"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id }}_3"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id }}_4"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id }}_5"></i>
                                    {% for m in moyennesProduits %}
                                        {% if m.produitid == p.id %}
                                            <script>
                                                $(document).ready(function() {
                                                    var nbStars=$('.etoile_affichage').length;
                                                    var i;
                                                    for (i = 1; i <= Math.round({{ m.moyenne }}); i++) { $('#etoileAffichage{{ p.id }}_' + i).addClass('text-warning'); }
                                                });
                                            </script>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id }}_1"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id }}_2"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id }}_3"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id }}_4"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage" id="etoileAffichage{{ p.id }}_5"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4 class="text-secondary">Aucun produit</h4>
        {% endif %}

        <h2>Les produits Notés</h2>
        {% if userProduitsNotes is not null %}
            <table class="table table-sm table-striped table-hover mt-5 mx-auto" style="width: 100%">
                <thead class="thead-light">
                    <th class="w-20">Image</th>
                    <th class="w-20">Nom du produit</th>
                    <th class="w-15">Catégorie</th>
                    <th class="w-25">Moyenne</th>
                </thead>
                <tbody class="text-center">
                    {% set indice = 0 %}
                    {% for p in userProduitsNotes %}
                        {# Pour garder la catégorie "principale" #}
                        {% if p.categories is defined and p.categories is not empty %}
                            {% set cat = p.categories | split(",") %}
                        {% else %}
                            {% set cat = ["Non renseignée"] %}
                        {% endif %}
                        <tr>
                            <td class="align-middle"><img src="{{ p.image_thumb_url ?? p.selected_images.front.thumb.fr ?? "/images/image_vide.png" }}" alt="Image du produit : {{ p.product_name | raw }}" style="max-height: 105px;" /></td>
                            {% if indice < categoriesNotes|length %}
                                <td class="align-middle"><a href="{{ path("produit_v2", {"id" : p.id ?? p.code, "categorie": from_search is defined ? p.categorie_url : categoriesNotes[indice]["categorie_url"]}) }}">{{ p.product_name | raw }}</a></td>
                                {% set indice = indice + 1 %}
                            {% endif %}
                            <td class="align-middle">{{ cat[0] }}</td>
                            <td class="align-middle">
                                {% if moyennesProduits is defined %}
                                    <i class="fas fa-star fa-1x etoile_affichage2" id="etoileAffichage{{ p.id }}_1_1"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage2" id="etoileAffichage{{ p.id }}_2_2"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage2" id="etoileAffichage{{ p.id }}_3_3"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage2" id="etoileAffichage{{ p.id }}_4_4"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage2" id="etoileAffichage{{ p.id }}_5_5"></i>
                                    {% for m in moyennesProduits %}
                                        {% if m.produitid == p.id %}
                                            <script>
                                                $(document).ready(function() {
                                                    var nbStars=$('.etoile_affichage2').length;
                                                    var i;
                                                    for (i = 1; i <= Math.round({{ m.moyenne }}); i++) { $('#etoileAffichage{{ p.id }}_' + i +'_'+i).addClass('text-warning'); }
                                                });
                                            </script>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    cccc
                                    <i class="fas fa-star fa-1x etoile_affichage2" id="etoileAffichage{{ p.id }}_1_1"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage2" id="etoileAffichage{{ p.id }}_2_2"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage2" id="etoileAffichage{{ p.id }}_3_3"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage2" id="etoileAffichage{{ p.id }}_4_4"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage2" id="etoileAffichage{{ p.id }}_5_5"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4 class="text-secondary">Aucun produit</h4>
        {% endif %}

        <h2>Les produits Commentés</h2>
        {% if userProduitsCommentaires is not null %}
            <table class="table table-sm table-striped table-hover mt-5 mx-auto" style="width: 100%">
                <thead class="thead-light">
                    <th class="w-20">Image</th>
                    <th class="w-20">Nom du produit</th>
                    <th class="w-15">Catégorie</th>
                    <th class="w-25">Moyenne</th>
                </thead>
                <tbody class="text-center">
                    {% set indice = 0 %}
                    {% for p in userProduitsCommentaires %}
                        {# Pour garder la catégorie "principale" #}
                        {% if p.categories is defined and p.categories is not empty %}
                            {% set cat = p.categories | split(",") %}
                        {% else %}
                            {% set cat = ["Non renseignée"] %}
                        {% endif %}
                        <tr>
                            <td class="align-middle"><img src="{{ p.image_thumb_url ?? p.selected_images.front.thumb.fr ?? "/images/image_vide.png" }}" alt="Image du produit : {{ p.product_name | raw }}" style="max-height: 105px;" /></td>
                            {% if indice < categoriesCommentaires|length %}
                                <td class="align-middle"><a href="{{ path("produit_v2", {"id" : p.id ?? p.code, "categorie": from_search is defined ? p.categorie_url : categoriesCommentaires[indice]["categorie_url"]}) }}">{{ p.product_name | raw }}</a></td>
                                {% set indice = indice + 1 %}
                            {% endif %}
                            <td class="align-middle">{{ cat[0] }}</td>
                            <td class="align-middle">
                                {% if moyennesProduits is defined %}
                                    <i class="fas fa-star fa-1x etoile_affichage2" id="etoileAffichage{{ p.id }}_1_1_1"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage2" id="etoileAffichage{{ p.id }}_2_2_2"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage2" id="etoileAffichage{{ p.id }}_3_3_3"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage2" id="etoileAffichage{{ p.id }}_4_4_4"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage2" id="etoileAffichage{{ p.id }}_5_5_5"></i>
                                    {% for m in moyennesProduits %}
                                        {% if m.produitid == p.id %}
                                            <script>
                                                $(document).ready(function() {
                                                    var nbStars=$('.etoile_affichage3').length;
                                                    var i;
                                                    for (i = 1; i <= Math.round({{ m.moyenne }}); i++) { $('#etoileAffichage{{ p.id }}_' + i +'_'+i+'_'+i).addClass('text-warning'); }
                                                });
                                            </script>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    cccc
                                    <i class="fas fa-star fa-1x etoile_affichage3" id="etoileAffichage{{ p.id }}_1_1_1"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage3" id="etoileAffichage{{ p.id }}_2_2_2"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage3" id="etoileAffichage{{ p.id }}_3_3_3"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage3" id="etoileAffichage{{ p.id }}_4_4_4"></i>
                                    <i class="fas fa-star fa-1x etoile_affichage3" id="etoileAffichage{{ p.id }}_5_5_5"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4 class="text-secondary">Aucun produit</h4>
        {% endif %}
        <h1>Forum</h1>
        <h2>Les sujets visités</h2>
        {% if sujetsVisite is defined and sujetsVisite is not null %}
            <table class="table table-sm table-striped table-hover mt-2">
                <thead class="thead-light">
                    <tr>
                        <th class="w-75">Titre</th>
                        <th>Utilisateur</th>
                        <th>Date de création</th>
                    </tr>
                </thead>
        
                <tbody>
        
                    {% for s in sujetsVisite %}
                        <tr>
                            <td class="font-weight-bold"> <a href="{{ path("readDisc", {"id": s.idDiscussion}) }}">{{ s.titre }}</a> </td>
                            <td> {{ s.id_utilisateur.username }} </td>
                            <td class="text-muted"> {{ s.creation | date("d/m/Y") }} </td>
                        </tr>
                    {% endfor %}
        
                </tbody>
            </table>
        {% else %}
            <h4 class="text-secondary">Aucun sujet</h4>
        {% endif %}
        <h2>Mes sujets</h2>
        {% if sujetsUser is not empty %}
            <table class="table table-sm table-striped table-hover mt-2">
                <thead class="thead-light">
                    <tr>
                        <th class="w-75">Titre</th>
                        <th>Utilisateur</th>
                        <th>Date de création</th>
                    </tr>
                </thead>
        
                <tbody>
        
                    {% for s in sujetsUser %}
                        <tr>
                            <td class="font-weight-bold"> <a href="{{ path("readDisc", {"id": s.idDiscussion}) }}">{{ s.titre }}</a> </td>
                            <td> {{ s.id_utilisateur.username }} </td>
                            <td class="text-muted"> {{ s.creation | date("d/m/Y") }} </td>
                        </tr>
                    {% endfor %}
        
                </tbody>
            </table>
        {% else %}
            <h4 class="text-secondary">Aucun sujet</h4>
        {% endif %}
        <h2>Participations aux sujets</h2>
        {% if participation is not empty %}
            <table class="table table-sm table-striped table-hover mt-2">
                <thead class="thead-light">
                    <tr>
                        <th class="w-75">Titre</th>
                        <th>Utilisateur</th>
                        <th>Date de création</th>
                    </tr>
                </thead>
        
                <tbody>
        
                    {% for p in participation %}
                        <tr>
                            <td class="font-weight-bold"> <a href="{{ path("readDisc", {"id": p.idDiscussion.idDiscussion}) }}">{{ p.idDiscussion.titre }}</a> </td>
                            <td> {{ p.idDiscussion.id_utilisateur.username }} </td>
                            <td class="text-muted"> {{ p.idDiscussion.creation | date("d/m/Y") }} </td>
                        </tr>
                    {% endfor %}
        
                </tbody>
            </table>
        {% else %}
            <h4 class="text-secondary">Aucun sujet</h4>
        {% endif %}
    </div>
    {% for message in app.flashes('connexion') %}
        <div class="alert alert-dismissible alert-success fixed-bottom ml-auto" style="width: 300px; heigth: 200px; margin-bottom: 65px;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><i class="fa fa-info-circle"></i> {{ message }}</strong>
        </div>
    {% endfor %}
{% endblock %}