<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}FoodRating{% endblock %}</title>
        
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
        <link rel="stylesheet" href="/jquery-ui/jquery-ui.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <style>.ui-autocomplete { max-height: 200px; width: 50px; overflow-y: auto; overflow-x: hidden;}</style>
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("forum") }}">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("liste_categorie") }}">Catégories</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("compte_client") }}">Tableau de bord</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0" action="{{ path('resultat') }}" method="get">
                    <input class="form-control mr-sm-2" type="text" id="recherche" name="recherche" placeholder="Recherche" required>
                    <button class="btn btn-warning my-2 my-sm-0 mr-2" type="submit">Rechercher</button>
                </form>
                {% if app.user %}
                    <form class="form-inline my-2 my-lg-0" action=" {{ path('resultat_user') }}" method="get">
                        <input class="form-control mr-sm-2" type="text" id="recherche_utilisateur" name="recherche_utilisateur" placeholder="Rechercher un utilisateur" required>
                        <button class="btn btn-secondary my-2 my-sm-0 mr-2" type="submit">Rechercher</button>
                    </form>
                {% endif %}
                
                {% if app.user %}
                    {% if app.user.imagebase64 is not null %}
                        <div class="dropdown" style="cursor: pointer;">
                            <img src="data:image/png;image/jpg;image/gif;base64, {{ app.user.imagebase64 }}" style="width: 50px; height: 50px; border-radius : 75px;" data-toggle="dropdown" data-placement="bottom" title="{{ app.user.username }}" alt="photo de profil"/>
                            <div class="dropdown-menu" style="margin-left: -155px;">
                                <a href="{{ path('user_show') }}" class="dropdown-item">Votre compte</a>
                                <a href="{{ path("logout_security") }}" class="dropdown-item">Déconnexion <i class="fas fa-sign-out-alt"></i></a>
                                <a href="{{ path("desinscription") }}" class="dropdown-item">Supprimer le compte <i class="fas fa-radiation-alt"></i></a>
                            </div>
                        </div>
                    {% else %}
                        <div class="dropdown" style="cursor: pointer;">
                            <i class="fas fa-user-circle fa-3x pt-1 dropdown-toggle text-light ml-3" data-toggle="dropdown" data-placement="bottom" title="{{ app.user.username }}"></i>
                            <div class="dropdown-menu" style="margin-left: -155px;">
                                <a href="{{ path('user_show') }}" class="dropdown-item">Votre compte</a>
                                <a href="{{ path("logout_security") }}" class="dropdown-item">Déconnexion <i class="fas fa-sign-out-alt"></i></a>
                                <a href="{{ path("desinscription") }}" class="dropdown-item">Supprimer le compte <i class="fas fa-radiation-alt"></i></a>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <a type="button" style="margin-bottom: 5px; margin-top: 5px;" class="btn btn-warning" href="/connexion">Mon compte</a>
                {% endif %}
            </div>
        </nav>
        
        <div class="container py-5">
            {% block body %}{% endblock %}
        </div>
        
        <footer style="background-color: #626262;" class="page-footer fixed-bottom">
            <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
                <a href="/">FoodRating</a>
				<a href="#" class="text-info float-right d-inline mr-3" data-toggle="tooltip" data-placement="bottom" title="Haut de la page"><i class="fas fa-arrow-up fa-2x"></i></a>
            </div>
        </footer>
        
        <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/jquery-ui/jquery-ui.min.js"></script>
        
        <script>
            $("#recherche").autocomplete({
                source: "{{ path('recherche') }}",
                minLength: 3
            });
            $("#recherche_utilisateur").autocomplete({
                source: "{{ path('recherche_user') }}",
                minLength: 3
            });
            $(function() {
            	if (location.pathname.split("/")[1] == "") {
            		$('nav li a[href="/"]').addClass('active');
                } else {
                	$('nav li a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
                }
        	});
        </script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
