<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}FoodRating{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
        <link rel="stylesheet" href="/jquery-ui/jquery-ui.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <style>.ui-autocomplete { max-height: 200px; width: 50px; overflow-y: auto; overflow-x: hidden;}</style>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="row col-lg-12">
            {% if app.user %}
                <a type="button" class="btn btn-secondary my-2 mr-3 col-sm-1 ml-auto" href="{{ path("logout_security") }}">Déconnexion</a>
                <a class="text-center" data-toggle="tooltip" data-placement="bottom" title="{{ app.user.username }}" href="{{ path('user_show') }}"><i class="fas fa-user-circle fa-3x pt-1"></i></a>
            {% else %}
                <a type="button" style="margin-bottom: 5px; margin-top: 5px;" class="btn btn-warning col-sm-1 ml-auto" href="/connexion">Mon compte</a>
            {% endif %}
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("forum") }}">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("liste_categorie") }}">Catégories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("test") }}">test 3</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="{{ path('resultat') }}" method="get">
                    <input class="form-control mr-sm-2" type="text" id="recherche" name="recherche" placeholder="Recherche" required>
                    <button class="btn btn-warning my-2 my-sm-0" type="submit">Rechercher</button>
                </form>
            </div>
        </nav>
        
        <div class="container py-5">
            {% block body %}{% endblock %}
        </div>
        
        <footer style="background-color: #626262;" class="page-footer">
            <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
                <a href="/">FoodRating</a>
            </div>
        </footer>
        <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/jquery-ui/jquery-ui.min.js"></script>

        {% block javascripts %}
            <script>
                $("#recherche").autocomplete({
                    source: "{{ path('recherche') }}",
                    minLength: 3
                });
                $(function() {
                	if (location.pathname.split("/")[1] == "") {
                		$('nav li a[href="/"]').addClass('active');
                    } else {
                    	$('nav li a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
                    }
            	});
            </script>
        {% endblock %}
    </body>
</html>
